<div class="image"> 
    <iframe class="gif" src="https://giphy.com/embed/ToMjGplHPoYqSg7oACc" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/bleedgfx-burger-ToMjGplHPoYqSg7oACc"></a></p>
</div>

<h1>Eat All Da burgers!</h1>

<div class="all-list grid-container">
    
    <div id="onMenu" class="grid-item">
        <h2>Menu:</h2>
        <div class="new-add">
            {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/unless}}
            {{/each}}
        </div>   
    </div>

    <div id="devouredList" class="grid-item">
        <h2>Already Devoured:</h2>
        <div class="devoured">
            {{#each burgers}}
                {{#if devoured}}
                {{> burgers/devoured-block }}
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<form class="submit-form">
    <div class="submit-area">
        <p for="bg" class="submit">Enter a burger you want to eat:</p>
        <input type="text" id="bg" name="name">
    </div>

    <button id="submit-button" type="submit">Submit Order:</button>
</form>